table,
td,
th {
  text-align: left;
}

table {
  border-collapse: separate;
  border-spacing: 0 20px;
  /* max-width: 1152px; */
  width: 98%;
  /* margin: auto; */
  margin-left: 8px;
}

th,
td {
  padding: 8px;
}

tr > th {
  color: black;
  font-size: 16px;
}

.trbody {
  background-color: #eef3fe;
}
tbody tr {
  box-shadow: 0 0 0 1px grey;
}

.number {
  color: blue;
}
.status {
  color: green;
}

.status2 {
  color: red;
}
.buttonAdd{
    background-color: blue;
    font-size: 30px;
    text-align: end;
}